<h1 class="mb-30">Collapse</h1>

<section class="collapse">
	<article>
		<header>
				Title Collapse
		</header>
		<main>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat illo voluptatem, ratione nihil sunt earum officiis autem sint id modi natus beatae distinctio ipsa optio, ex corporis illum fugiat vel.
			</p>
		</main>
	</article>
</section>

<section class="collapse">
	<article>
		<header>
			Title Collapse
		</header>
		<main>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat illo voluptatem, ratione nihil sunt
				earum officiis autem sint id modi natus beatae distinctio ipsa optio, ex corporis illum fugiat vel.
			</p>
		</main>
	</article>
</section>