<div class="nav">
    <div class="container mb-30">
        <nav class="navbar">
             <div class="logo">
                 <a href="#">Logo</a>
             </div>
             <ul class="menu">
                 <li class="item ">
                     <a href="#">About</a>
                 </li>
                 <li class="item">
                     <a href="#">
                         FAQ
                     </a>
                 </li>
                 <li class="item">
                     <a href="#">Blog</a>
                 </li>
                 <li class="item">
                     <a href="#">Contact</a>
                 </li>
             </ul>
             <div class="mobile-menu dropdown">
                 <a href="" class="show-menu">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                             d="M4 6h16M4 12h16M4 18h16" />
                     </svg>
                 </a>
                 <ul class="dropdown-body">
                     <li class="item">
                         <a href="#">About</a>
                     </li>
                     <li class="item">
                         <a href="#">
                             FAQ
                         </a>
                     </li>
                     <li class="item">
                         <a href="#">Blog</a>
                     </li>
                     <li class="item">
                         <a href="#">Contact</a>
                     </li>
                 </ul>
             </div>
        </nav>
    </div>
</div>
