<h1>Tabs</h1>
<section class="tabs">
	<nav>
		<ul class="tabs-menu">
			<li class="active"><button data-target="#tab1">tab1</button></li>
			<li><button data-target="#tab2">tab2</button></li>
			<li><button data-target="#tab3">tab3</button></li>
			<li><button data-target="#tab4">tab4</button></li>
		</ul>
	</nav>
	<main class="tab-container">
		<div id="tab1" class="tab-content active">Ipsum dolor sit amet consectetur adipisicing elit. Placeat, illo!</div>
		<div id="tab2" class="tab-content"> dolor sit amet consectetur adipisicing elit.Lorem ipsum Placeat, illo!</div>
		<div id="tab3" class="tab-content"> sit amet consectetur adipisicing elit. Placeat, Lorem ipsum dolor  illo!</div>
		<div id="tab4" class="tab-content"> consectetur adipisicing elit. Placeat, illo Lorem ipsum dolor sit amet!</div>
	</main>
</section>