.nav {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.11);

  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background-color: rgb(245, 245, 245);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 15px 0;

  .logo a {
    padding: 0;
    line-height: 30px;
  }

  .menu {
    display: flex;

    li a {
      padding: 0 30px;
      line-height: 30px;
    }
  }

  .mobile-menu {
    display: none;
    position: relative;

    svg {
      width: 30px;
      height: 30px;

    }

  }

  @media screen and (max-width: 768px) {
    .mobile-menu {
      display: block;

      .dropdown-body {
        position: fixed;
      }
    }

    .menu {
      display: none;
    }
  }
}
