.tabs {
  padding: 10px;

  .tabs-menu {
    display: flex;
    justify-content: space-around;

    li {
      button {

        padding: 10px 20px;
      }

      &.active {
        button {

          color: red
        }
      }
    }
  }

  .tab-content {
    display: none;
    padding: 15px;
    border: 1px solid #ccc;

    &.active {
      display: block;
    }
  }
}
